.game {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
.game-title {
  text-align: center;
  background-color: rgb(51, 121, 51);
  font-size: larger;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.game-user {
  width: 300px;
  margin-bottom: 20px;
}

.user1 {
  color: red;
}

.user2 {
  color: blue;
}

.game-board {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}
.game-btn {
  padding: 5px;
  border-color: darkslategrey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2px;
  width: 200px;
}

.game-btn Button {
  width: 200px;
  display: block;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

.mui-textfield {
  width: 300px;
}

.mui-select {
  width: 300px;
}

.step {
  height: 300px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
  padding-bottom: 70px;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
