.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
/* .board-row {
  margin-left: 58px;
} */
.board-main {
  background-color: aqua;
  padding: 2px;
  width: fit-content;
}
