.game {
  display: flex;
  flex-direction: row;
  padding: 40px;
}
.game-title {
  text-align: center;
  background-color: rgb(51, 121, 51);
  font-size: larger;
  padding: 10px;
  font-weight: bold;
}

.game-user {
  width: 300px;
  margin-bottom: 20px;
}

.user1 {
  color: red;
}

.user2 {
  color: blue;
}

.game-board {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.game-btn {
  padding: 5px;
  border-color: darkslategrey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2px;
  width: 200px;
}

.game-btn Button {
  width: 200px;
}

.mui-textfield {
  width: 230px;
}

.mui-select {
  width: 230px;
}

.step {
  height: 300px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto;
}
