.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 57px;
  font-weight: bold;
  line-height: 34px;
  height: 57px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 57px;
  cursor: pointer;
}
.square:hover {
  background-color: rgb(167, 238, 167);
}

.square:focus {
  outline: none;
}
.square-x {
  color: red;
}
.square-o {
  color: blue;
}
.kbd-navigation .square:focus {
  background: #ddd;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
